!!! 5
- base_title = "Home/Visiting Teaching Coordinator"
%html
  %head
    %title= (content_for? :title) ? "#{ yield :title } | #{ base_title }" : base_title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .header
      - if current_user
        - if current_user.name && current_user.name != ''
          Welcome #{ current_user.name }!
        - else
          Welcome!
        [ #{ link_to 'Sign Out', destroy_user_session_path, method: :delete } ]
      - else
        [ #{ link_to 'Sign In', user_session_path } | #{ link_to 'Register', new_user_registration_path } ]
    %h1= (content_for? :title) ? (yield :title) : base_title
    %ul.breadcrumbs
      %li= link_to 'Home', '/'
      - @breadcrumbs.each do |crumb|
        %li= link_to crumb[:title], crumb[:url]

    = yield

    .disclaimer This site is not affiliated with the Church of Jesus Christ of Latter-day Saints.

/ jl
